<div class="slideshow-container">
    <div [ngClass]="{mySlides: currentSlide !== 1, fade: currentSlide === 1}" >
      <div class="numbertext" >1 / 3</div>
      <img src="assets\slider\pexels-photo.jpeg" style="width:100%">
    </div>

    <div div [ngClass]="{mySlides: currentSlide !== 2, fade: currentSlide === 2 }">
        <div class="numbertext">2 / 3</div>
        <img src="assets\slider\Healthyfood.jpg" style="width:100%">
        <div class="text">Eat healthy</div>
    </div>

    <div div [ngClass]="{mySlides: currentSlide !== 3, fade: currentSlide === 3 }">
        <div class="numbertext">3 / 3</div>
        <img src="assets\slider\nutriton.jpg" style="width:100%">
    </div>

  
   <a (click)="minusSlide()" class="prev">&#10094;</a>
   <a (click)="plusSlide()" class="next">&#10095;</a>
<br>
</div>

<div style="text-align:center">
    <span class="dot" (click)="setCurrentSlide(1)"></span>
    <span class="dot" (click)="setCurrentSlide(2)"></span>
    <span class="dot" (click)="setCurrentSlide(3)"></span>
</div>