<app-navbar></app-navbar>

<!-- <div class="center">
  <h1> Welcome to exercise app</h1>
</div> -->


<app-slider></app-slider>
<div class="center lowerFrame">
  <div class="row text center">
    <div class="col-sm-5">
      <img class= 'image' src = "assets\svg\info-circle.svg" width="50px"/> 
      <h5 class="subTitle">What is Excercise app?</h5>
      <br>
      <p>Excercise app is designed to replace your paper workout journal.
      Originally inspired from a MERN stack application. Using Angular to power
      its front-end and express to supply its backend!
    </p>
    </div>
    <div class="col-sm-3">
      <img class= 'image' src = "assets\svg\heart.svg" width="50px"/> 
      <h5 class="subTitle">Made with love</h5>
      <br>
      <p>This webapp is a simple excercise tracker, designed with adding users,
        so you can use it for yourself or with friends 
      </p>
    </div>
  </div>
</div> 



<app-footer></app-footer>
   


