<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Excercise</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Potato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="center">
<h1> Welcome to exercise app</h1>
</div>

<div class="center">
  <div class="row">
    <div class="col-sm-6">
      <img src = "assets\svg\info-circle.svg"/>
      Hello world
    </div>
    <div class="col-sm-6">
      Hello world
    </div>
  <div>
</div>

   


<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Azam:
    <a class="text-dark" href="https://github.com/YusufAzam">Github</a>
  </div>
  <!-- Copyright -->
</footer>