<app-navbar></app-navbar>

<!-- <div class="center">
  <h1> Welcome to exercise app</h1>
</div> -->


<app-slider></app-slider>
<div class="lowerFrame container-fluid ">
  <div class="row text center ">
    <div class="col-sm-5">
      <img class= 'image' src = "assets\svg\info-circle.svg" width="50px"/> 
      <h5 class="subTitle">What is Excercise app?</h5>
      <br>
      <p>Excercise app is designed to replace your paper workout journal.
      Originally inspired from a MERN stack application. Using Angular to power
      its front-end and express to supply its backend!
     </p>
    </div>
    <div class="col-sm-3">
      <img class= 'image' src = "assets\svg\heart.svg" width="50px"/> 
      <h5 class="subTitle">Made with love</h5>
      <br>
      <p>This webapp is a simple excercise tracker, designed with adding users,
        so you can use it for yourself or with friends 
      </p>
    </div>
  </div>
  <br>
  
  <div class="row text center" style="padding-top: 3%;">
    <div class="col-sm-5">
      <img class= 'image' src = "assets\svg\hand-thumbs-up.svg" width="50px"/> 
      <h5 class="subTitle">Simplicity is key</h5>
      <br>
      <p>Excercise app is designed to replace your paper workout journal.
        Originally inspired from a MERN stack application. Using Angular to power
        its front-end and express to supply its backend!
       </p>
    </div>  

    <div class="col-sm-3">
      <img class= 'image' src = "assets\svg\speedometer.svg" width="50px"/> 
      <h5 class="subTitle">Simple yet efficient</h5>
      <br>
      <p>Excercise app is designed to replace your paper workout journal.
        Originally inspired from a MERN stack application. Using Angular to power
        its front-end and express to supply its backend!
       </p>
    </div>  
  </div>
</div> 

<div class="container-fluid lowerBanner">
  <div class='text center'><h3> Try it today</h3></div>
</div>
<div class="arrowDown"></div>


<app-footer></app-footer>
   


